.App {
  padding: 16px 32px;
  font-family: "Cinzel", serif;
  text-align: center;
  max-width: 600px;
}
.Attic {
  margin: 0 auto;
  padding: 16px;
  border: 2px solid #71ac98;
  border-radius: 16px;
  color: #385170;
}
.attic-line {
  margin: 8px auto;
}
.search_form {
  width: 400px;
  padding: 0;
}
.search_button {
  margin-left: 4px;
  padding: 2px 12px;
  border-radius: 4px;
  border: 2px solid #71ac98;
  transition: all 200ms ease-in-out;
  color: #385170;
  box-shadow: 2px 2px 9px 3px rgba(56, 81, 112, 0.1);
}
.search_button:hover {
  border: 2px solid #385170;
  background-color: #385170;
  color: #ececec;
}
#change-to-celsius,
#change-to-fahrenheit {
  color: #385170;
  font-weight: 700;
  padding: 4px;
  line-height: 2;
  margin: 0 4px;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}
#change-to-celsius.active,
#change-to-fahrenheit.active {
  text-decoration: underline;
}
ul li {
  list-style: none;
}
body {
  font-family: "Cinzel", serif;
  text-align: center;
}
.container {
  padding: 16px 0;
}
.overview {
  padding: 16px;
}
.overview ul {
  padding: 0 16px;
  margin: 0;
}
.currentTemp {
  display: block;
  line-height: 2;
  font-weight: 700;
}

.loading-balls {
  margin: 0 auto;
}

.main-invitation {
  margin-top: 32px auto;
}
